body {
    font-family: "Source Sans Pro", sans-serif;
  }

header {
    background-image: url("images/pic_1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    margin-right: 10%;
    margin-left: 10%;
}

.img-logo-smile {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.img-logo {
    width: 168px;
    height: auto;
}

.btn {
    background-color: #C271FF !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.font-size-title-home-page {
    padding-top: 9%;
    font-size: 6rem !important;
}

.font-size-elements-home-page  {
    font-size: 1px !important;
}

.container-elements-home-page {
    margin: 0 10% 0 10%;
}

@media screen and (max-width: 576px) {
    .navbar {
        margin-right: 25%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container-logo-nav {
        padding-top: 8%;
        padding-right: 105px;
      }
      .img-logo {
        display: block;
     }
     .img-logo-smile {
        margin-left: 35%;
        display: block;
    }
    .font-size-title-home-page {
        padding-top: 45%;
        font-size: 3.5rem !important;
    }
    .font-size-elements-home-page  {
        padding-top: 11%;
        font-size: 1rem !important;
    }
    .container-elements-home-page {
        margin: 0 11% 0 11%;
    }
}
