body {
    font-family: "Source Sans Pro", sans-serif;
  }

header {
    background-image: url("images/pic_1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    margin-right: 10%;
    margin-left: 10%;
}

.img-logo-smile {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.img-logo {
    width: 168px;
    height: auto;
}

.btn {
    background-color: #C271FF !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}



@media screen and (max-width: 576px) {
    .navbar {
        margin-right: 25%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 576px) {
    .container-logo-nav {
      padding-right: 105px;
    }
}


@media screen and (max-width: 576px) {
    .img-logo {
       display: block;
    }
}

@media screen and (max-width: 576px) {
    .img-logo-smile {
        margin-left: 35%;
       display: block;
    }
}
